@import './header.css';

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
    background-color: #ffffff;
    overflow-x: hidden;
}

.home-page {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    text-align: center;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero-section {
    margin: 30px 0px;
    padding-top: 10px;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
    max-width: 1500px;
    max-height: 675px;
    border-radius: 10px;
}

    .hero-section .background-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover; /* Change to contain for no zooming */
        background-position: center;
        background-repeat: no-repeat; /* Prevent the image from repeating */

        transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
        z-index: -1;
        filter: blur(2px); /* Adjust the blur radius as needed */
    }

        .hero-section .background-layer.previous {
            opacity: 0;
        }

        .hero-section .background-layer.current {
            opacity: 1;
        }

    .hero-content {
        z-index: 1; /* Ensure content is above background layers */
        border-radius: 15px;
    }

    .hero-section h1 {
        font-size: 4rem;
        margin-bottom: 0;
        margin-top: 10px;
    }

.hero-section p {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.company-info {
    padding: 0 40px; 
    color: #333;
    max-width: 1100px;
    line-height: 1.6;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding-bottom: 30px;
    padding-top: 0;
}

    .company-info h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #000;
        text-align: center;
    }

    .company-info h2 {
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #444;
    }

    .company-info p {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .company-info ul {
        list-style-type: none;
        padding: 0;
        padding-bottom: 10px;
        font-size: 1rem;
    }

    .company-info li {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

.vision-mission {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

    .vision-mission div {
        flex: 1;
        min-width: 300px;
        margin: 10px;
    }

@media (max-width: 768px) {
    .company-info {
        padding: 20px;
    }

    .vision-mission {
        flex-direction: column;
    }

        .vision-mission div {
            margin: 10px 0;
        }
}


.directors-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.director {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 45%;
    max-width: 45%;
    box-sizing: border-box;
}

    .director img {
        width: 200px; /* Change this to the desired width */
        height: auto; /* Change this to the desired height */
        object-fit: cover; /* Optional: This will keep the aspect ratio and crop if necessary */
        border-radius: 10px;
    }

    .director h2 {
        font-size: 1.5rem;
        margin-top: 10px;
        color: #333;
    }

    .director p {
        font-size: 1.2rem;
        color: #555;
    }

.company-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 75%;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.stat-item {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .stat-item h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #333;
    }

    .stat-item p {
        font-size: 1.2rem;
        color: #555;
    }

footer {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #ddd;
    position: relative;
    bottom: 0;
}

    footer p {
        font-size: 0.9rem;
        margin: 0;
    }

    footer .contact-info {
        font-size: 0.9rem;
        margin-top: 10px;
    }

        footer .contact-info p {
            margin: 5px 0;
        }

        footer .contact-info a {
            color: #ddd; 
            text-decoration: none; 
        }

            footer .contact-info a:hover {
                text-decoration: underline; 
            }


@media (max-width: 768px) {
    .company-info, .company-stats {
        padding: 10px;
    }

        .company-info h1 {
            font-size: 2rem;
        }

        .company-info p, .stat-item p {
            font-size: 1rem;
        }

    .stat-item {
        max-width: 100%;
    }

    .hero-section h1 {
        font-size: 2rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }

    .directors-info {
        flex-direction: column;
        align-items: center;
    }

    .director {
        max-width: 100%;
        margin: 10px 0;
    }
}
