@import './header.css';

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

.project-page {
    width: 100%;
    flex: 1;
    background-color: #f4f4f9;
    scroll-snap-type: y mandatory; /* Enable snap scrolling */
}

main {
    padding-top: 60px; /* Adjust to make room for fixed header */
    width: 100%;
    margin: -20px;
}

.project-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    scroll-snap-align: start; /* Snap section to viewport */
    width: 100%;
    box-sizing: border-box;
}

.light-grey {
    background-color: #fff;
    color: #333;
}

.dark-grey {
    background-color: #3b5998;
    color: #fff;
}

.project-content {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.project-info {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

    .project-info h2 {
        margin: 0 0 10px;
        font-size: 3rem;
        position: relative;
        overflow: hidden;
        background: linear-gradient(135deg, #ff7e5f, #feb47b);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: fadeInUp 1s ease-out, textShadow 1s ease-in-out infinite alternate;
        text-align: center;
        font-family: 'Playfair Display', serif;
    }

    .project-info p {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.6;
    }

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textShadow {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    100% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
}

.project-info h2::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background: #feb47b;
    border-radius: 2px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.project-image {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .project-image img {
        max-width: 65%;
        max-height:auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

footer {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #ddd;
    position: relative;
    bottom: 0;
}

    footer p {
        font-size: 0.9rem;
        margin: 0;
    }

    footer .contact-info {
        font-size: 0.9rem;
        margin-top: 10px;
    }

        footer .contact-info p {
            margin: 5px 0;
        }

        footer .contact-info a {
            color: #ddd;
            text-decoration: none;
        }

            footer .contact-info a:hover {
                text-decoration: underline;
            }
